.page-header {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
}

.page-header .top-bar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-text-in-primary);
  background: var(--color-primary-dark);
  padding: 1.6rem 0;
  border-bottom: solid 1px var(--color-primary-darker);
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a :hover {
  opacity: 0.6;
}

.page-header .top-bar-container p {
  font: 500 1.6rem Archivo;
  line-height: 1.7rem;
  color: var(--color-text-in-primary);
}

.page-header .top-bar-container>img {
  height: 1.6rem;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

.page-header .header-content span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .header-content span img {
  margin-right: 2.4rem;
}

.page-header .header-content span p {
  font: normal 1.2rem Poppins;
  width: 10.5rem;
  margin: 0;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }
  .page-header .top-bar-container {
    width: 100%;
  }
  .page-header .header-content {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .page-header .header-content strong {
    max-width: 350px;
  }
}
