<strong>Olá, {{ name }}! </strong>
<p>Ops... Você esqueceu sua senha, acontece! Clique no link abaixo para criar uma nova.</p>
<p>
  <strong>Seu token: {{ token }}</strong>
  <br />
  <small>Este token é valido por uma hora!</small>
</p>
